<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head')%>

  <body>
    <%- include('partials/sideNavBar')%>

    <div class="view-window">
      <div class="patient-list">
        <a href="/patients"><i class="fa-solid fa-arrow-left"></i></a>
        <form action="/patients/search" method="GET">
          <input type="text" name="request">
          <input type="submit" value="search">
        </form>
        <a href="/patients/create">add patient</a>
          
        <% patients.forEach((patient) =>{%>
        <a href="/patients/<%= patient.code%>">
          <div class="patient">
            <div class="picture"></div>
            <div class="info">
              <p class="name"><%= patient.l_name+" "+patient.f_name %></p>
              <p class="last-appt">f</p>
            </div>
          </div>
        </a>
        <%})%>
      </div>

      <div class="patient-profile">
        <div class="profile-seetings">
          <form action="/patients/<%=f_patient.code%>/delete" method="post">
            <input type="submit" value="delete">
          </form>
          <a href="/patients/<%=f_patient.code%>/edit">edit</a>
        </div>
        <fieldset>
          <legend><h1>Information du client</h1></legend>
          <p><%=f_patient.f_name%></p>
          <p><%=f_patient.l_name%></p>
          <p><%=f_patient.sex%></p>
          <p><%=f_patient.birthdate%></p>
          <p><%=f_patient.blood_type%></p>

        </fieldset>

        <fieldset>
          <legend><h1>Coordonnées du client</h1></legend>
          <p><%=f_patient.email%></p>
          <p><%=f_patient.address%></p>
          <p><%=f_patient.phone%></p>
        </fieldset>
      </div>
    </div>

    <script
      src="https://kit.fontawesome.com/c501080d7e.js"
      crossorigin="anonymous"
    ></script>
    <script>
      const toggle_button = document.getElementById("sb_toggle");

      toggle_button.addEventListener('click',()=>{
        console.log("clicked");
        toggle_button.children[0].classList.contains('fa-arrow-right') ? toggle_button.children[0].classList.add('fa-arrow-left'):toggle_button.children[0].classList.add('fa-arrow-right')
        // toggle_button.children[0].classList.toggle('fa-arrow-right');
      });
    </script>
  </body>
</html>
